/* Estilos comunes */
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.centro{
  display: flex;
  justify-content: center;
  align-items: center;
}

.seccion-header{
  font-size: 5rem;
  color: #333;
  text-transform: uppercase;
  letter-spacing: .5rem;
  margin-bottom: 15rem;
  border-bottom: .3rem solid #333;
  text-shadow: .2rem .2rem .5rem #555;
}
/* Estilos comunes final */

/* Seccion 1 */
.seccion-1{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.3)),
  url(./images/bg.jpg) center no-repeat;
  background-size: cover;
  flex-direction: column;
}

.seccion-1-header{
  font-size: 6rem;
  font-weight: 700;
  color: #fff;
  background-color: #e41c6f;
  padding: 0 3rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  border-bottom: .3rem solid #fff;
  text-shadow: .2rem .2rem 1rem #555;
  transform: skew(-10deg);
}

.persona-img{
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 50%;
  border: .7rem dotted #e41c6f;
  background-color: rgba(255,255,255,.7);
  padding: .5rem;
  opacity: .9;
}

.persona-nombre{
  font-size: 2rem;
  color: #fff;
  background-color: #e41c6f;
  margin: 5rem 0;
  padding: .5rem 3rem;
  letter-spacing: .3rem;
  transform: skew(-10deg);
}

.seccion-1-btn{
  font-size: 1.7rem;
  font-weight: 700;
  color: #333;
  background-color: #fff;
  border: .3rem solid #333;
  padding: .5rem 1rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
}
/* Seccion 1 final */

/* Navbar */
.navbar{
  width: 100%;
  height: 4rem;
  background-color: #e41c6f;
  box-shadow: .2rem .2rem .5rem #555;
  position: absolute;
  z-index: 100;
}

.pegado{
  position: fixed;
  top: 0;
}

.cambio.navbar-link{
  color: #fff;
}

.navbar-link{
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
  margin: 0 3rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
  position: relative;
  transition: color .2s;
}

.navbar-link:hover{
  color: #fff;
}

.navbar-link::before{
  content: '';
  width: 0;
  height: .2rem;
  background-color: #fff;
  position: absolute;
  right: -15%;
  bottom: -.3rem;
  transition: width .3s;
}

.cambio.navbar-link::before{
  width: 130%;
}

.navbar-link:hover::before{
  width: 130%;
}
/* Navbar final */

/* Seccion 2 */
.seccion-2{
  width: 100%;
  height: 100%;
  padding: 15rem 0 10rem 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barra-progreso-wrapper{
  margin-bottom: 10rem;
}

.progreso-barra{
  width: 60rem;
  height: 3rem;
  background-color: #ccc;
  margin: 1.5rem 0;
  border-radius: .3rem;
  box-shadow: .2rem .2rem 1rem #555;
  position: relative;
}

.progreso-texto{
  position: absolute;
  left: 1rem;
  font-size: 1.5rem;
  color: #fff;
}

.progreso-texto span{
  margin: 0 .5rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.progreso-porcentaje{
  width: 0;
  height: 100%;
  background-color: #e41c6f;
  border-radius: .3rem;
  transition: width .5s .5s ease-in-out;
}

.servicios{
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.servicio{
  text-align: center;
}

.servicio:first-child,
.servicio:last-child{
  align-self: flex-start;
}

.servicio i{
  font-size: 10rem;
  color: #888;
  margin-bottom: 2rem;
  text-shadow: .1rem .1rem .5rem #555;
}

.servicio h2{
  font-size: 2rem;
  color: #fff;
  background-color: #777;
  width: 25rem;
  letter-spacing: .3rem;
  transform: skew(-20deg);
  box-shadow: .2rem .2rem .5rem #555;
}
/* Seccion 2 final */

/* Seccion 3 */
.seccion-3{
  width: 100%;
  height: 100%;
  padding: 10rem 0;
  background-color: #eef;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proyectos-wrapper{
  width: 80%;
  flex-wrap: wrap;
}

.proyecto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background-color: #fff;
  box-shadow: 0.3rem 0.3rem 0.5rem #777;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.5s;
}

.proyecto:hover{
  box-shadow: 1rem 1rem 1rem #555;
}

.proyecto-texto{
  text-align: center;
  letter-spacing: 0.1rem;
  position: absolute;
  top: -10rem;
  z-index: 10;
  transition: top 0.3s;
}

.proyecto:hover .proyecto-texto{
  top: 5rem;
  transition: top .3s .3s;
}

.proyecto-nombre{
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  text-transform: capitalize;
}

.proyecto-tecnologias{
  font-size: 1.8rem;
  color: #e41c6f;
}

.proyecto-img{
  width: 40rem;
  transition: opacity .3s;
}

.proyecto:hover .proyecto-img{
  opacity: .2;
}

.proyecto-link{
  font-size: 2rem;
  font-weight: 500;
  color: #333;
  letter-spacing: .1rem;
  border: .3rem solid #e41c6f;
  padding: 0 1rem;
  background-color: #fff;
  position: absolute;
  bottom: -5rem;
  transition: bottom .3s;
}

.proyecto:hover .proyecto-link{
  bottom: 5rem;
  transition: bottom .3s .3s;
}
/* Seccion 3 final */

/* Seccion 4 */
.seccion-4{
  width: 100%;
  height: 70vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.seccion-4-header{
  color: #fff;
  box-shadow: none;
  border-color: #fff;
  margin-bottom: 5rem;
}

.contacto-form{
  width: 50rem;
  flex-direction: column;
}

.contacto-form input,
.contacto-form textarea{
  width: 100%;
  padding: .5rem;
  margin: .5rem 0;
  background-color: #eef;
  font-size: 1.5rem;
  border: .2rem solid #e41c6f;
  color: #555;
}

.contacto-form textarea{
  height: 10rem;
  max-height: 15rem;
  max-width: 100%;
}

.contacto-form .contacto-form-btn{
  background-color: #e41c6f;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1rem;
  cursor: pointer;
}
/* Seccion 4 final */

/* Seccion 5 */
.seccion-5{
  width: 100%;
  height: 30vh;
  background-color: #222;
  flex-direction: column;
}

.redes-sociales{
  margin-bottom: 5rem;
}

.redes-sociales-link{
  margin: 0 2rem;
  padding: .7rem;
  background-color: #e41c6f;
  border-radius: .5rem;
  display: inline-block;
}

.redes-sociales-link i{
  font-size: 3rem;
  color: #fff;
}

.copyright{
  color: #aaa;
  font-size: 2rem;
  letter-spacing: .2rem;
  font-weight: 300;
  text-align: center;
}
/* Seccion 5 final */

/* Responsividad */
@media (max-width:1200px) {
  .servicios{
    height: auto;
    flex-wrap: wrap;
  }

  .servicio{
    margin: 3rem 2rem;
  }

  .seccion-4{
    height: 80vh;
  }
}

@media (max-width:800px) {
  .seccion-1-header{
    font-size: 4rem;
  }

  .progreso-barra{
    width: 50rem;
  }
}

@media (max-width:600px) {
  .seccion-1-header{
    font-size: 3rem;
  }

  .navbar-link{
    margin: 0 2rem;
    font-size: 1.5rem;
  }

  .seccion-2{
    padding: 10rem;
  }

  .seccion-2-header{
    margin-bottom: 10rem;
  }

  .progreso-barra{
    width: 45rem;
  }

  .proyecto-img{
    width: 100%;
  }

  .contacto-form{
    width: 40rem;
  }

  .copyright{
    width: 70%;
  }
}

@media (max-width:500px) {
  html{
    font-size: 55%;
  }
}

@media (max-width:450px) {
  html{
    font-size: 45%;
  }

  .seccion-1-header{
    font-size: 2.5rem;
  }

  .navbar-link{
    margin: 0 1.5rem;
  }

  .seccion-2-header{
    text-align: center;
  }

  .progreso-barra{
    width: 40rem;
  }
}
/* Responsividad final */